* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.firstDiv {
  background-color: aqua;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.openButton {
  background-color: darkblue;
  border: none;
  width: 100px;
  color: white;
  height: 40px;
}
